.colour-digit {
  font-family: monospace;
}

.colour-digit-all {
  font-family: monospace;
  color: white;
  text-shadow: 0px 0px 2px #000;
}

.colour-digit-piece {
  font-family: monospace;
  color: white;
  text-shadow: 0px 0px 2px #000;
}

.colour-button {
  background: white;
  padding: 1em;
  border: 1px inset #ccc;
}

.colour-name {
  font-size:xx-small;
}
